@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------General----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}
h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}
p {
  margin-bottom: 1.15rem;
}
a {
  color: black;
  text-decoration: none;
}
figure {
  overflow: hidden;
}
.figure-image {
  object-fit: cover;
  height: 200px;
}

/* ---------UI Sets----------- */

.content {
  margin: 75px auto;
}

.section {
  padding: 8em 0 8em 0;
}

.inline-block {
  display: inline-block;
}
.red {
  color: tomato;
}
.bg-grey {
  background: #f5f5f5;
}
.shadow-red {
  box-shadow: 0 5px 20px 0 rgba(255, 99, 71, 0.1);
}

/* ---------Hero----------- */

.logoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  position: relative;
}
.logo-svg {
  overflow: visible;
}
.rotate-animation {
  animation: 0.6s ease-in-out rotate;
  animation-fill-mode: forwards;
}

.line {
  display: block;
  height: 2px;
  width: 15vw;
  background-color: #9a9a9a;
}
.socialBar {
  width: auto;
  height: auto;
  display: flex;
  margin-left: 20px;
}
.socialLogo {
  width: 27px;
  height: 27px;
  margin: 0px 15px;
  background-repeat: no-repeat;
  background-position: center center;
}
.introWrapper {
  margin: 100px auto;
}
.socialBarWrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.introHeading {
  font-size: 6vw;
  line-height: 130%;
}

.github:hover,
.linkedin:hover,
.email:hover {
  fill: tomato;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateY(0) translateX(0) scale(1);
  }
  40% {
    transform: rotate(-51deg) scale(1.05) translateY(4px) translateX(-15px);
  }
  100% {
    transform: rotate(-47deg) translateY(6px) translateX(-15.5px) scaleX(0.9);
  }
}

/* ---------About Me----------- */

.bioContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px;
  z-index: 2;
}
.bioLeft {
  width: 100%;
  margin: 40px 0px;
}
.bioRight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0px;
}
.headshot {
  position: absolute;
  top: -200px;
  right: -100px;
  width: 500px;
  border-radius: 5px;
}

.projectImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px 10px 0 0;
}
.projectCard {
  border-style: solid;
  display: flex;
  flex-direction: column;
  border-color: rgba(153, 153, 153, 0.3);
  border-width: 1px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto 4em auto;
  width: 90%;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.projectCard:hover {
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.projectCard:hover > a > figure > img {
  transform: scale(1.05);
}
.projectCard:hover .projectCardHeadline {
  color: tomato;
}
.projectCard:hover .projectCardHeadline:after {
  display: block;
}
.projectCardBottom {
  position: relative;
  padding: 0 2em 2em 2em;
}
.projectCardBioWrapper {
  max-width: 40%;
  position: relative;
  left: 0;
  float: left;
  margin: 0;
}
.projectCardHeadline {
  margin-top: 0.5em;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}
.projectCardHeadline:after {
  display: none;
  content: "";
  position: absolute;
  height: 3px;
  left: 0em;
  width: 100%;
  background-color: tomato;
  bottom: -5px;
}

.projectCardBio {
  margin: 0;
}
.projectCardBioBottom {
  margin-top: 0.5em;
}
.role {
  display: inline-block;
  border-radius: 5px;
  background: #f5f5f5;
  padding: 0.3em 0.5em;
  margin-top: 1em;
}
.projectContainer {
  margin-bottom: 8em;
}

.emoji-img {
  display: inline-block !important;
  border: none !important;
  height: 1em !important;
  width: 1em !important;
  position: relative;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.skillItem {
  color: black;
  font-weight: 700;
  min-width: 200px;
  margin: 20px 0px 0px;
}
.skillsTable {
  width: 100%;
  text-align: left;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skillsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brain-icon {
  max-width: 250px;
  margin-right: 200px;
}
.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8em 0;
  border-top: 1px solid gainsboro;
}
@media only screen and (min-width: 520px) {
  .content {
    width: 510px;
  }
  .introHeading {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 767px) {
  .content {
    width: 480px;
  }
  .introHeading {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 810px) {
  .content {
    width: 500px;
  }
  .introHeading {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 875px) {
  .content {
    width: 600px;
  }
  .introHeading {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 1000px) {
  .content {
    width: 800px;
  }
  .introHeading {
    font-size: 5vw;
  }
}
@media only screen and (min-width: 1279px) {
  .content {
    width: 1000px;
  }
  .introHeading {
    font-size: 5vw;
  }
}

/* ---------Project Page----------- */

.projectPageHeader {
  margin-top: 100px;
}
.projectTable {
  text-align: left;
}

th {
  display: table-cell;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 129.69%;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}
td {
  display: table-cell;
  width: 200px;
  font-size: 14px;
  line-height: 184.69%;
  letter-spacing: 0.03em;
}

.projectImageFullPage {
  width: 100%;
  object-fit: cover;
  max-height: 95%;
}

.animate {
  -webkit-animation-duration: 1250ms;
  animation-duration: 1250ms;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate-fast {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fade-in {
  -webkit-animation-name: fade_in;
  animation-name: fade_in;
}

.fade-out {
  -webkit-animation-name: fade_out;
  animation-name: fade_out;
}

.fade-in-up {
  -webkit-animation-name: fade_in_up;
  animation-name: fade_in_up;
}

.fade-in-up-big {
  -webkit-animation-name: fade_in_up_big;
  animation-name: fade_in_up_big;
}

.fade-out-down {
  -webkit-animation-name: fade_out_down;
  animation-name: fade_out_down;
}

.fade-in-left {
  -webkit-animation-name: fade_in_left;
  animation-name: fade_in_left;
}

.fade-in-right {
  -webkit-animation-name: fade_in_right;
  animation-name: fade_in_right;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade_in_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes fade_in_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes fade_in_up_big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes fade_in_up_big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes fade_in_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes fade_in_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* Gsap test */

#blah {
  height: 100vh;
  text-align: center;
}
.box {
  background: red;
  width: 200px;
  height: 200px;
}
